/** Styles for specific content */

.statement {
    font-size:1rem;
    line-height: 1.25rem;
    max-width: $componentMaxWidth;
    margin: 0 auto;
    @include screen-greater-than(tablet) {
        text-align: center;
    }
    h1 {
        font-size: 1rem;
        font-weight: 600;
        display: inline;
        color: $UPVBlack;
        text-transform: none;
    }
}