/** Order Table styles */

.order-table {
    thead {
        td {
            transform: rotate(-45deg);
            &:first-child {
                transform: none;
            }
        }
    }
    td {
        border: 1px solid black;
    }
}