/** Footer styles */

.footer {
    background-color: $UPVDarkTeal;
    color: $UPVWhite;
    padding-bottom: 1.25rem;
    p {
        margin: 0;
        text-align: center;
    }
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 1.75rem;
        @include screen-greater-than(tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .secondary-navigation {
        @include screen-greater-than(tablet){
            width: 25%;
        }
    }
    &__connection {
        font-size: 0.875rem;
        margin-top: 0.5rem;
        @include screen-greater-than(tablet) {
            width: 50%;
        }
    }
    &__social-media {
        @include screen-greater-than(tablet) {
            width: 25%;
            // display: flex;
            // flex-direction: column;

        }
        &--wrapper {
            display: flex;
            width: 50%;
            justify-content: space-between;
            margin: 0 auto;
            padding: 0.5rem 0;
            @include screen-greater-than(tablet) {
                flex-direction: column;
                margin-right: 0;
                align-items: end;
            }
        }
        a {
            color: $UPVLightTeal;
            font-size: 2rem;
            &:hover {
                color: $UPVWhite;
            } 
            @include screen-greater-than(tablet) {
                margin-bottom: 1rem;
            }           
        }
    }
    &__acknowledgement {
        font-size: 0.75rem;
        line-height: 1.35rem;
        margin-bottom: 0.5rem;
        @include screen-greater-than(tablet){
            padding: 0.5rem 0;
            p {
                text-align: left;
            }
        }
    }
    &__fine-print--wrapper {
        line-height: normal; 
        padding-top: 0.5rem;
        @include screen-greater-than(tablet){
            display: flex;
            justify-content: space-between;
        }        
    }
    
}

.addtoany_share_save_container {
    display: none;
}