/** Section styles */
.three-body .container {
    display: flex!important;
}

.season {
    @include screen-greater-than(desktop) {
        display: flex;
        justify-content: space-between;
    }
}

.shopping-cart {
    @include screen-greater-than(desktop) {
        margin-bottom: 3rem;
    }
}