/** Colours */

$UPVDarkTeal: #075C68;
$UPVTeal    : #5BB4BF;
$UPVLightTeal : #dff7fa;
$UPVPink    : #CE70AE;
$UPVDarkPink: #AF1B6D;
$UPVBeige   : #ECEBE3;
$UPVPurple  : #5664AB;
$UPVGreen   : #008C9E;
$UPVLightGreen  : #ccffff;
$UPVSage    : #4F646E;
$UPVGrey    : #8A9DAC;

$UPVWhite   : #ffffff;
$UPVBlack   : #000000;