/** Image styles */

img {
    width: 100%;
    height: auto;
}

.feature-image {
    border-radius: $featureImgBorderRadiusMobile;
    
    overflow: hidden;
    display: block;
    line-height: 0;
    @include screen-greater-than(tablet) {
        border-radius: $featureImgBorderRadiusTablet;
    }
}