/** Text styles */

body {
    font-size: 1.2rem;
    line-height: 1.75rem;
}

.fine-print {
    font-size: 0.75rem;
}

.notice {
    margin: 0 -2.5%;
    padding: 0 2.5%;
    border: 1px solid $UPVDarkTeal;
    border-radius: $borderRadius;
    overflow-wrap: break-word;
}